<h1>Listado de héroes</h1>
<mat-divider></mat-divider>

<div class="grid mb-8">
  <div *ngFor="let item of listadoHeroes" class="col-12 sm:col-4 md:col-3 xl:col-2">
    <heroes-hero-card [hero]="item"></heroes-hero-card>
  </div>
</div>


<!-- <ul>
  <li *ngFor="let item of listadoHeroes">
    <p>ID: {{item.id}}</p>
    <p>Superhero: {{item.superhero}}</p>
    <p>Publisher: {{item.publisher}}</p>
    <p>Alter ego: {{item.alter_ego}}</p>
    <p>First appearance: {{item.first_appearance}}</p>
    <p>Characters: {{item.characters}}</p>
  </li>
</ul> -->
